body {
  margin: 0;
  .people_container {
    position: relative;
    width: 100%;
  }
  .container-fluid {
    // overflow: hidden;

    position: relative;
    padding-right: 0;
    padding-left: 0;
    // padding-top: 40px;
    width: 100%;
    height: 100vh;
    // background-color: #BBAA99;
    background-image: url("./img/pic2/BG.png");
    .navbar {
      width: 100%;
      background-image: url("./img/pic2/NAV.png");
      z-index: 1112;
      .container {
        display: flex;
        height: 100px;
        padding-top: 40px;
        flex-wrap: nowrap;
        .nav-item {
          .dropdown-menu {
            min-width: 92vw;
            background-color: #6824da;

            a {
              color: aliceblue;
              text-align: center;
              &:hover{
                color: black;
              }
            }
          }
        }
        .navbar-brand {
          padding-top: 100px;
          height: 180px;
          width: 160px;
          background-image: url("./img/pic2/all.png");
          animation-name: example;
          animation-duration: 0.5s;
          animation-iteration-count: infinite;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          @media screen and (max-width: 768px) {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            //
          }
        }

        .imgBox {
          display: flex;
          justify-content: space-between;
          margin: 20px;
          width: 100%;
          height: 100%;
          @media screen and (max-width: 768px) {
            display: none;
          }
        }

        // *******************************************************
        .nav-item {
          display: none;
          @media screen and (max-width: 768px) {
            display: block;
            background-image: url("./obj/select.png");
            width: 60px;
            height: 60px;
            position: relative;
            .dropdown-toggle {
              &:after {
                border-top: 0;
              }
            }
          }
        }
        // *************************************************************
        .bg-img {
          height: 100%;
          width: 25%;
          transition: 0.5s;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }

        .bg-img:hover {
          border-bottom: solid plum 10px;
        }
      }
    }

    .bgImg {
      //---------------------------------月球 & 線
      top: -5%;
      left: -10%;
      position: absolute;
      overflow: hidden;
      height: 110%;
      width: 110%;
      // @media screen and (max-width: 1024px) {
      //   // padding-top: 60px;
      //   // height: 50%;
      // }
      @media screen and (max-width: 768px) {
        // padding-top: 60px;
        height: 80%;
      }
      @media screen and (max-width: 375px) {
        // padding-top: 60px;
        height: 70%;
      }
      .bg_image {
        width: 110%;
        height: 110%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        @media screen and (max-width: 1024px) {
          background-size: cover; 
          height: 75%;
        }
        @media screen and (max-width: 768px) {
          // padding-top: 60px;
          height: 70%;
        }
      }
    }

    .box {
      //稱高度的
      width: 100%;
      height: 100px;
    }

    .container {
      width: 100%;
      height: calc(100% - 140px);
      transition: 2s;

      .row {
        //包住3顆人頭的
        position: relative;
        height: 100%;

        @media screen and (max-width: 1024px) {
          height: 80%;
        }
        @media screen and (max-width: 768px) {
          height: 40%;
        }
        .people_area {
          //表面看到的3顆人頭
          cursor: pointer;
          &:hover .people_group {
            filter: brightness(1) blur(0px);
          }
          .people_group {
            width: 100%;
            height: 100%;
            animation-name: jump;
            animation-duration: 2.2s;
            animation-iteration-count: infinite;
            cursor: pointer;
            filter: brightness(0.5) blur(1px);
            @media screen and (max-width: 1024px) {
              filter: brightness(1) blur(0px);
              animation-name: jump1;
            }

            .bg-img {
              width: 100%;
              height: 100%;
              background-repeat: no-repeat;
              background-size: contain;
              background-position: center;

              // filter: brightness(0.8) blur(2px);
              // &:hover{
              //   filter: brightness(0.5) blur(0px);
              // }
            }
            // .bg-img:hover{

            //   }
          }
        }

        .people_container {
          display: none;
          // transition:5s;
        }
        .people_container.active {
          //hover裡面的資訊
          position: relative;
          position: absolute;
          margin-top: 40px;
          background-image: url("./about_in/smallbg.png");
          // width: 100%;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          height: 90%;
          display: flex;
          @media screen and (max-width: 1024px) {
            height: 70%;
          }
          @media screen and (max-width: 768px) {
            height: 110%;
          }
          @media screen and (max-width: 414px) {
            height: 90%;
          }
          // .peoAndAura {
          //   height: 100%;
          //   width: 20%;
          .people {
            width: 35%;
            height: 100%;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
          }
          // }
          .textbox{
            display: flex;
            align-items:center ;
            height: 100%;
            width: 45%;
            .people_text {
            text-align: center;
            font-size: 35px;
            // padding: 50px;
            // position: absolute;
            // height: 100%;
            width: 100%;
            color: beige;
            // vertical-align: middle;
            // top: 50%;

            @media screen and (max-width: 1024px) {
              font-size: 25px;
            }
            @media screen and (max-width: 768px) {
              font-size: 22px;
            }
            @media screen and (max-width: 414px) {
              font-size: 10px;
            }
            // &:before {
            //   content: "";
            //   height: 100%;
            //   display: inline-block;
            //   vertical-align: middle;
            // }
          }
          }
          
          .people_line {
            height: 100%;
            width: 35%;
            position: relative;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
          }
          .esc {
            position: absolute;
            cursor: pointer;
            left: 90%;
          }
        }
      }

      @media screen and (max-width: 1280px) {
        height: calc(100% - 140px);
      }
      @media screen and (max-width: 1024px) {
        height: calc(85% - 140px);
      }
      // @media screen and (max-width: 768px) {
      //   // padding-top: 60px;
      //   height: calc(50% - 140px);
      // }
    }
    .history {
      width: 100%;
      height: 1600px;
    }
    .footer {
      position: fixed;
      width: 100%;
      padding: 3px;
      color: azure;
      background-color: #0c0a35;
      text-align: center;
      bottom: 0%;
    }
  }
}

@keyframes example {
  0% {
    background-image: url("./img/pic2/all.png");
  }

  33% {
    background-image: url("./img/pic2/nb.png");
  }

  66% {
    background-image: url("./img/pic2/nw.png");
  }

  100% {
    background-image: url("./img/pic2/nw.png");
  }
}
@keyframes jump {
  0% {
    top: 20px;
    
  }
  20% {
    border-radius: 2px; /*從 20% 的地方才開始變形*/
  }
  50% {
    top: -20px;
    /* border-bottom-right-radius:25px; */
  }
  80% {
    border-radius: 2px; /*到 80% 的地方恢復原狀*/
  }
  100% {

    top: 20px;
  }
}
@keyframes jump1 {
  0% {
    top: 10px;
    
  }
  20% {
    border-radius: 2px; /*從 20% 的地方才開始變形*/
  }
  50% {
    top: -0px;
    /* border-bottom-right-radius:25px; */
  }
  80% {
    border-radius: 2px; /*到 80% 的地方恢復原狀*/
  }
  100% {

    top: 10px;
  }
}
// 100% {
//     background-image: url('./img/pic2/all.png');
// }
// }
