@charset "UTF-8";
body {
  margin: 0;
}

body .people_container {
  position: relative;
  width: 100%;
}

body .container-fluid {
  position: relative;
  padding-right: 0;
  padding-left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("./img/pic2/BG.png");
}

body .container-fluid .navbar {
  width: 100%;
  background-image: url("./img/pic2/NAV.png");
  z-index: 1112;
}

body .container-fluid .navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  padding-top: 40px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

body .container-fluid .navbar .container .nav-item .dropdown-menu {
  min-width: 92vw;
  background-color: #6824da;
}

body .container-fluid .navbar .container .nav-item .dropdown-menu a {
  color: aliceblue;
  text-align: center;
}

body .container-fluid .navbar .container .nav-item .dropdown-menu a:hover {
  color: black;
}

body .container-fluid .navbar .container .navbar-brand {
  padding-top: 100px;
  height: 180px;
  width: 160px;
  background-image: url("./img/pic2/all.png");
  -webkit-animation-name: example;
          animation-name: example;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 768px) {
  body .container-fluid .navbar .container .navbar-brand {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

body .container-fluid .navbar .container .imgBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  body .container-fluid .navbar .container .imgBox {
    display: none;
  }
}

body .container-fluid .navbar .container .nav-item {
  display: none;
}

@media screen and (max-width: 768px) {
  body .container-fluid .navbar .container .nav-item {
    display: block;
    background-image: url("./obj/select.png");
    width: 60px;
    height: 60px;
    position: relative;
  }
  body .container-fluid .navbar .container .nav-item .dropdown-toggle:after {
    border-top: 0;
  }
}

body .container-fluid .navbar .container .bg-img {
  height: 100%;
  width: 25%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

body .container-fluid .navbar .container .bg-img:hover {
  border-bottom: solid plum 10px;
}

body .container-fluid .bgImg {
  top: -5%;
  left: -10%;
  position: absolute;
  overflow: hidden;
  height: 110%;
  width: 110%;
}

@media screen and (max-width: 768px) {
  body .container-fluid .bgImg {
    height: 80%;
  }
}

@media screen and (max-width: 375px) {
  body .container-fluid .bgImg {
    height: 70%;
  }
}

body .container-fluid .bgImg .bg_image {
  width: 110%;
  height: 110%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@media screen and (max-width: 1024px) {
  body .container-fluid .bgImg .bg_image {
    background-size: cover;
    height: 75%;
  }
}

@media screen and (max-width: 768px) {
  body .container-fluid .bgImg .bg_image {
    height: 70%;
  }
}

body .container-fluid .box {
  width: 100%;
  height: 100px;
}

body .container-fluid .container {
  width: 100%;
  height: calc(100% - 140px);
  -webkit-transition: 2s;
  transition: 2s;
}

body .container-fluid .container .row {
  position: relative;
  height: 100%;
}

@media screen and (max-width: 1024px) {
  body .container-fluid .container .row {
    height: 80%;
  }
}

@media screen and (max-width: 768px) {
  body .container-fluid .container .row {
    height: 40%;
  }
}

body .container-fluid .container .row .people_area {
  cursor: pointer;
}

body .container-fluid .container .row .people_area:hover .people_group {
  -webkit-filter: brightness(1) blur(0px);
          filter: brightness(1) blur(0px);
}

body .container-fluid .container .row .people_area .people_group {
  width: 100%;
  height: 100%;
  -webkit-animation-name: jump;
          animation-name: jump;
  -webkit-animation-duration: 2.2s;
          animation-duration: 2.2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  cursor: pointer;
  -webkit-filter: brightness(0.5) blur(1px);
          filter: brightness(0.5) blur(1px);
}

@media screen and (max-width: 1024px) {
  body .container-fluid .container .row .people_area .people_group {
    -webkit-filter: brightness(1) blur(0px);
            filter: brightness(1) blur(0px);
    -webkit-animation-name: jump1;
            animation-name: jump1;
  }
}

body .container-fluid .container .row .people_area .people_group .bg-img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

body .container-fluid .container .row .people_container {
  display: none;
}

body .container-fluid .container .row .people_container.active {
  position: relative;
  position: absolute;
  margin-top: 40px;
  background-image: url("./about_in/smallbg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1024px) {
  body .container-fluid .container .row .people_container.active {
    height: 70%;
  }
}

@media screen and (max-width: 768px) {
  body .container-fluid .container .row .people_container.active {
    height: 110%;
  }
}

@media screen and (max-width: 414px) {
  body .container-fluid .container .row .people_container.active {
    height: 90%;
  }
}

body .container-fluid .container .row .people_container.active .people {
  width: 35%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

body .container-fluid .container .row .people_container.active .textbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 45%;
}

body .container-fluid .container .row .people_container.active .textbox .people_text {
  text-align: center;
  font-size: 35px;
  width: 100%;
  color: beige;
}

@media screen and (max-width: 1024px) {
  body .container-fluid .container .row .people_container.active .textbox .people_text {
    font-size: 25px;
  }
}

@media screen and (max-width: 768px) {
  body .container-fluid .container .row .people_container.active .textbox .people_text {
    font-size: 22px;
  }
}

@media screen and (max-width: 414px) {
  body .container-fluid .container .row .people_container.active .textbox .people_text {
    font-size: 10px;
  }
}

body .container-fluid .container .row .people_container.active .people_line {
  height: 100%;
  width: 35%;
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

body .container-fluid .container .row .people_container.active .esc {
  position: absolute;
  cursor: pointer;
  left: 90%;
}

@media screen and (max-width: 1280px) {
  body .container-fluid .container {
    height: calc(100% - 140px);
  }
}

@media screen and (max-width: 1024px) {
  body .container-fluid .container {
    height: calc(85% - 140px);
  }
}

body .container-fluid .history {
  width: 100%;
  height: 1600px;
}

body .container-fluid .footer {
  position: fixed;
  width: 100%;
  padding: 3px;
  color: azure;
  background-color: #0c0a35;
  text-align: center;
  bottom: 0%;
}

@-webkit-keyframes example {
  0% {
    background-image: url("./img/pic2/all.png");
  }
  33% {
    background-image: url("./img/pic2/nb.png");
  }
  66% {
    background-image: url("./img/pic2/nw.png");
  }
  100% {
    background-image: url("./img/pic2/nw.png");
  }
}

@keyframes example {
  0% {
    background-image: url("./img/pic2/all.png");
  }
  33% {
    background-image: url("./img/pic2/nb.png");
  }
  66% {
    background-image: url("./img/pic2/nw.png");
  }
  100% {
    background-image: url("./img/pic2/nw.png");
  }
}

@-webkit-keyframes jump {
  0% {
    top: 20px;
  }
  20% {
    border-radius: 2px;
    /*從 20% 的地方才開始變形*/
  }
  50% {
    top: -20px;
    /* border-bottom-right-radius:25px; */
  }
  80% {
    border-radius: 2px;
    /*到 80% 的地方恢復原狀*/
  }
  100% {
    top: 20px;
  }
}

@keyframes jump {
  0% {
    top: 20px;
  }
  20% {
    border-radius: 2px;
    /*從 20% 的地方才開始變形*/
  }
  50% {
    top: -20px;
    /* border-bottom-right-radius:25px; */
  }
  80% {
    border-radius: 2px;
    /*到 80% 的地方恢復原狀*/
  }
  100% {
    top: 20px;
  }
}

@-webkit-keyframes jump1 {
  0% {
    top: 10px;
  }
  20% {
    border-radius: 2px;
    /*從 20% 的地方才開始變形*/
  }
  50% {
    top: -0px;
    /* border-bottom-right-radius:25px; */
  }
  80% {
    border-radius: 2px;
    /*到 80% 的地方恢復原狀*/
  }
  100% {
    top: 10px;
  }
}

@keyframes jump1 {
  0% {
    top: 10px;
  }
  20% {
    border-radius: 2px;
    /*從 20% 的地方才開始變形*/
  }
  50% {
    top: -0px;
    /* border-bottom-right-radius:25px; */
  }
  80% {
    border-radius: 2px;
    /*到 80% 的地方恢復原狀*/
  }
  100% {
    top: 10px;
  }
}
/*# sourceMappingURL=about.css.map */