body {
  margin: 0;
}

body .container-fluid {
  padding-right: 0;
  padding-left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("./img/pic2/BG.png");
}

body .container-fluid .navbar {
  width: 100%;
  background-image: url("./img/pic2/NAV.png");
}

body .container-fluid .navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  padding-top: 40px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

body .container-fluid .navbar .container .navbar-brand {
  padding-top: 100px;
  height: 180px;
  width: 160px;
  background-image: url("./img/pic2/all.png");
  -webkit-animation-name: example;
          animation-name: example;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 768px) {
  body .container-fluid .navbar .container .navbar-brand {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

body .container-fluid .navbar .container .imgBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  body .container-fluid .navbar .container .imgBox {
    display: none;
  }
}

body .container-fluid .navbar .container .nav-item {
  display: none;
}

@media screen and (max-width: 768px) {
  body .container-fluid .navbar .container .nav-item {
    display: block;
    background-image: url("./obj/select.png");
    width: 60px;
    height: 60px;
    position: relative;
  }
  body .container-fluid .navbar .container .nav-item .dropdown-toggle:after {
    border-top: 0;
  }
}

body .container-fluid .navbar .container .bg-img {
  height: 100%;
  width: 25%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

body .container-fluid .navbar .container .bg-img:hover {
  border-bottom: solid plum 10px;
}

body .container-fluid .container {
  padding-top: 140px;
}

body .container-fluid .container .Name {
  width: 100%;
  height: 33vh;
}

body .container-fluid .container .Name .NameList .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  border: #a912aa solid 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container-fluid .container .Name .NameList .swiper-slide.active {
  background: #5f2b2b;
}

body .container-fluid .container .Pic {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 70%;
  margin-left: -150px;
  margin-top: -150px;
}

body .container-fluid .container .Pic .swiper-wrapper .swiper-slide {
  background-position: center;
  background-size: cover;
}

body .container-fluid .footer {
  position: fixed;
  width: 100%;
  padding: 3px;
  color: azure;
  background-color: #0c0a35;
  text-align: center;
  bottom: 0%;
}

@-webkit-keyframes example {
  0% {
    background-image: url("./img/pic2/all.png");
  }
  33% {
    background-image: url("./img/pic2/nb.png");
  }
  66% {
    background-image: url("./img/pic2/nw.png");
  }
  100% {
    background-image: url("./img/pic2/nw.png");
  }
}

@keyframes example {
  0% {
    background-image: url("./img/pic2/all.png");
  }
  33% {
    background-image: url("./img/pic2/nb.png");
  }
  66% {
    background-image: url("./img/pic2/nw.png");
  }
  100% {
    background-image: url("./img/pic2/nw.png");
  }
}
/*# sourceMappingURL=album.css.map */