body {
  margin: 0;
  .container-fluid {
    padding-right: 0;
    padding-left: 0;
    // padding-top: 40px;
    width: 100%;
    height: 100vh;
    // background-color: #BBAA99;
    background-image: url("./img/pic2/BG.png");
    position: relative;
    .navbar {
      width: 100%;
      background-image: url("./img/pic2/NAV.png");

      .container {
        display: flex;
        height: 100px;
        padding-top: 40px;
        flex-wrap: nowrap;

        .navbar-brand {
          padding-top: 100px;
          height: 180px;
          width: 160px;
          background-image: url("./img/pic2/all.png");
          animation-name: example;
          animation-duration: 0.5s;
          animation-iteration-count: infinite;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          @media screen and (max-width: 768px) {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            //
          }
        }

        .imgBox {
          display: flex;
          justify-content: space-between;
          margin: 20px;
          width: 100%;
          height: 100%;
          @media screen and (max-width: 768px) {
            display: none;
          }
        }

        // *******************************************************
        .nav-item {
          display: none;
          @media screen and (max-width: 768px) {
            display: block;
            background-image: url("./obj/select.png");
            width: 60px;
            height: 60px;
            position: relative;
            .dropdown-toggle {
              &:after {
                border-top: 0;
              }
            }

            // &:hover ul {
            //   /* flex-wrap: wrap; */
            //   display: block;
            //   /* background-color: aqua; */
            // }
          }
        }
        // *************************************************************
        .bg-img {
          height: 100%;
          width: 25%;
          transition: 0.5s;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }

        .bg-img:hover {
          border-bottom: solid plum 10px;
        }
      }
    }
    .albumInsideContentBox {
      display: none;
    }
    .albumInsideContentBox.active {
      padding-top: 10px;
      position: absolute;
      top: 20%;
      left: 50%;
      z-index: 2222;
      // display: none;
      width: 100%;
      height: 70vh;
      transform: translateX(-50%);
      background-color: plum;
      display: flex;
      &:after {
        content: "";
        position: absolute;
        width: 30px;
        height: 30px;
        top: 10px;
        left: calc(100% - 40px);
        // background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-image: url("./albumPic/cancel.png");
      }
      @media screen and (max-width: 1024px) {
        width: 80vw;
        height: 70vh;
        flex-wrap: wrap;
      }
      .albumFirstContent {
        border: rebeccapurple solid 1px;
        width: 50vh;
        // height: 100%;
        @media screen and (max-width: 1024px) {
          width: 80vw;
          // height: 10vh;
          flex-wrap: wrap;
        }
        .albumPicture {
          img {
            width: 50vh;
            height: auto;
            @media screen and (max-width: 1024px) {
              width: 50vw;
              height: auto;
              // flex-wrap: wrap;
            }
            @media screen and (max-width: 768px) {
              width: 60vw;
              height: auto;
              // flex-wrap: wrap;
            }
            @media screen and (max-width: 414px) {
              width: 60vw;
              height: auto;
              // flex-wrap: wrap;
            }
          }
        }
        .albumName {
          width: 50vh;
          height: 15vh;
          @media screen and (max-width: 1024px) {
            width: 100%;
            height: 10vh;
          }
        }
      }
      .listBox {
        width: calc(100% - 55vh);
        height: 100%;
        border: rebeccapurple solid 1px;
        @media screen and (max-width: 1024px) {
          width: 100%;
          height: 20vh;
        }
      }
      // .close {
      //   position: absolute;
      //   top: 10px;
      //   left: 85%;
      //   img {
      //     width: 30px;
      //     height: auto;
      //   }
      // }
    }

    .container {
      padding-top: 140px;
      .Name {
        width: 100%;
        height: 33vh;
        .NameList {
          .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            border: #a912aa solid 6px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .swiper-slide.active {
            background: rgb(95, 43, 43);
          }
        }
      }

      .Pic {
        width: 300px;
        height: 300px;
        position: absolute;
        left: 50%;
        top: 70%;
        margin-left: -150px;
        margin-top: -150px;
        .swiper-wrapper {
          .swiper-slide {
            background-position: center;
            background-size: cover;
          }
        }
      }
    }

    .footer {
      position: fixed;
      width: 100%;
      padding: 3px;
      color: azure;
      background-color: #0c0a35;
      text-align: center;
      bottom: 0%;
    }
  }
}
@keyframes example {
  0% {
    background-image: url("./img/pic2/all.png");
  }
  33% {
    background-image: url("./img/pic2/nb.png");
  }
  66% {
    background-image: url("./img/pic2/nw.png");
  }
  100% {
    background-image: url("./img/pic2/nw.png");
  }
}

// 100% {
//     background-image: url('./img/pic2/all.png');
// }
// }
