body {
  margin: 0;
  .container-fluid {
    padding-right: 0;
    padding-left: 0;
    // padding-top: 40px;
    width: 100%;
    height: 100vh;
    // background-color: #BBAA99;
    // background-image: url("./img/pic2/BG.png");
    background: rgb(7, 9, 85);
    background: radial-gradient(
      circle,
      rgba(7, 9, 85, 1) 0%,
      rgba(23, 11, 119, 1) 11%,
      rgba(213, 47, 162, 1) 53%,
      rgba(213, 47, 162, 1) 63%,
      rgba(9, 13, 62, 1) 100%
    );
    position: relative;
    .navbar {
      width: 100%;
      background-image: url("./img/pic2/NAV.png");
      z-index: 1112;
      .container {
        display: flex;
        height: 100px;
        padding-top: 40px;
        flex-wrap: nowrap;
        .nav-item {
          .dropdown-menu {
            min-width: 92vw;
            background-color: #6824da;

            a {
              color: aliceblue;
              text-align: center;
              &:hover {
                color: black;
              }
            }
          }
        }
        .navbar-brand {
          padding-top: 100px;
          height: 180px;
          width: 160px;
          background-image: url("./img/pic2/all.png");
          animation-name: example;
          animation-duration: 0.5s;
          animation-iteration-count: infinite;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          @media screen and (max-width: 768px) {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            //
          }
        }

        .imgBox {
          cursor: pointer;

          display: flex;
          justify-content: space-between;
          margin: 20px;
          width: 100%;
          height: 100%;
          @media screen and (max-width: 768px) {
            display: none;
          }
        }

        // *******************************************************
        .nav-item {
          display: none;
          @media screen and (max-width: 768px) {
            display: block;
            background-image: url("./obj/select.png");
            width: 60px;
            height: 60px;
            position: relative;
            .dropdown-toggle {
              &:after {
                border-top: 0;
              }
            }
          }
        }
        // *************************************************************
        .bg-img {
          height: 100%;
          width: 25%;
          transition: 0.5s;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }

        .bg-img:hover {
          border-bottom: solid plum 10px;
        }
      }
    }
    .albumInsideContentBox {
      display: none;
    }
    .albumInsideContentBox.active {
      // pointer-events: none;
      padding-top: 10px;
      position: absolute;
      top: 20vh;
      left: 50%;
      z-index: 2222;
      // display: none;
      width: 100%;
      height: 75vh;
      transform: translateX(-50%);
      background: rgb(159, 93, 179);
      background: linear-gradient(90deg, rgba(159, 93, 179, 1) 0%, rgba(16, 9, 69, 1) 100%);
      display: flex;
      &:after {
        cursor: pointer;
        pointer-events: auto;
        content: "";

        position: absolute;
        width: 30px;
        height: 30px;
        top: 10px;
        left: calc(100% - 40px);
        // background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-image: url("./albumPic/cancel.png");
      }
      @media screen and (max-width: 1024px) {
        width: 80vw;
        // height: 70vh;
        flex-wrap: wrap;
      }
      .albumFirstContent {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border: rebeccapurple solid 1px;
        width: 50vh;
        // height: 100%;
        @media screen and (max-width: 1024px) {
          width: 80vw;
          // height: 10vh;
          flex-wrap: wrap;
        }
        .albumPicture {
          display: flex;
          justify-content: center;
          img {
            // left: 50%;
            // margin: auto;
            padding-top: 30px;
            // padding-left: 20px;
            width: 50vh;
            height: auto;
            @media screen and (max-width: 1024px) {
              width: 50vw;
              height: auto;
              // flex-wrap: wrap;
            }
            @media screen and (max-width: 768px) {
              width: 60vw;
              height: auto;
              // flex-wrap: wrap;
            }
            // @media screen and (max-width: 414px) {
            //   width: 60vw;
            //   height: auto;
            //   // flex-wrap: wrap;
            // }
          }
        }
        .albumName {
          width: 50vh;
          height: 15vh;
          text-align: center;
          img {
            width: 100%;
            height: auto;
          }
          @media screen and (max-width: 1024px) {
            width: 100%;
            height: 10vh;
          }
        }
      }
      .listBox {
        display: flex;
        align-items: center;
        width: calc(100% - 55vh);
        height: 100%;
        // border: rebeccapurple solid 1px;
        // ul {
        //   padding-top: 20%;
        //   li {
        //     text-align: center;
        //     font-size: 35px;
        //     color: white;
        //   }
        // }
        .songName {
          width: 100%;
          height: 70%;
          @media screen and (max-width: 1024px) {
            width: 100%;
            // height: 100%;
          }
          .NameList {
            // height: ;
            .swiper-slide {
              text-align: center;
              font-size: 25px;
              color: white;
              margin-top: 20px;

              // padding: 15px;
              // background: #fff;
              // border: #a912aa solid 6px;
              display: flex;
              justify-content: center;
              align-items: center;
              @media screen and (max-width: 768px) {
                font-size: 15px;
              }
            }
          }
        }
        @media screen and (max-width: 1024px) {
          width: 100%;
          height: calc(100% - 10vh - 50vw);
        }
        @media screen and (max-width: 768px) {
          width: 100%;
          height: calc(100% - 10vh - 60vw);
        }
      }
    }

    .container {
      padding-top: 140px;
      .mask {
        position: absolute;
        left: 0;
        top: 60%;
        z-index: 1111;
        width: 100%;
        height: 7vh;
        &:before {
          content: "";
          position: absolute;
          width: 30px;
          height: 30px;
          // top: 10px;
          left: 10%;
          transform: translateY(29%);
          // background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          background-image: url("./albumPic/L.png");
        }
        &:after {
          content: "";
          position: absolute;
          width: 30px;
          height: 30px;
          // top: 10px;
          right: 10%;
          // transform: translateX(-50%);
          transform: translateY(29%);
          // background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          background-image: url("./albumPic/R.png");
        }
        // background: rgba(213, 47, 162, 0.5);
        // .maskLine {
        //   position: absolute;
        //   left: 50%;
        //   transform: translateX(-50%);

        //   z-index: 1111;
        //   width: 70%;
        //   height: 3.5vh;
        //   border-bottom: 3px white solid;
        //   // background: rgba(213, 47, 162, 0.5);
        // }
      }

      .Name {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 28vh;

        .mask {
          width: 100%;
          height: 14vh;
          background: rgb(95, 43, 43);
          
        }
        .NameList {
          .swiper-slide {
            text-align: center;
            // font-size: 32px;
            // background: #fff;
            // border: #a912aa solid 6px;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              height: 100%;
              width: auto;
              @media screen and (max-width: 768px) {
                height: 60%;
              }
            }
          }
        }
      }

      .Pic {
        width: 400px;
        height: 400px;
        position: absolute;
        left: 50%;
        top: 35%;
        margin-left: -200px;
        margin-top: -200px;
        @media screen and (max-width: 414px) {
          width: 200px;
          height: 200px;
          margin-left: -100px;
          margin-top: -100px;
        }
        .swiper-wrapper {
          .swiper-slide {
            background-position: center;
            background-size: cover;
          }
        }
      }
    }

    .footer {
      position: fixed;
      width: 100%;
      padding: 3px;
      color: azure;
      background-color: #0c0a35;
      text-align: center;
      bottom: 0%;
    }
  }
}
@keyframes example {
  0% {
    background-image: url("./img/pic2/all.png");
  }
  33% {
    background-image: url("./img/pic2/nb.png");
  }
  66% {
    background-image: url("./img/pic2/nw.png");
  }
  100% {
    background-image: url("./img/pic2/nw.png");
  }
}

// 100% {
//     background-image: url('./img/pic2/all.png');
// }
// }
