body {
  margin: 0;
}

body .container-fluid {
  padding-right: 0;
  padding-left: 0;
  width: 100%;
  height: 100vh;
  background: #070955;
  background: radial-gradient(circle, #070955 0%, #170b77 11%, #d52fa2 53%, #d52fa2 63%, #090d3e 100%);
  position: relative;
}

body .container-fluid .navbar {
  width: 100%;
  background-image: url("./img/pic2/NAV.png");
  z-index: 1112;
}

body .container-fluid .navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  padding-top: 40px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

body .container-fluid .navbar .container .nav-item .dropdown-menu {
  min-width: 92vw;
  background-color: #6824da;
}

body .container-fluid .navbar .container .nav-item .dropdown-menu a {
  color: aliceblue;
  text-align: center;
}

body .container-fluid .navbar .container .nav-item .dropdown-menu a:hover {
  color: black;
}

body .container-fluid .navbar .container .navbar-brand {
  padding-top: 100px;
  height: 180px;
  width: 160px;
  background-image: url("./img/pic2/all.png");
  -webkit-animation-name: example;
          animation-name: example;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 768px) {
  body .container-fluid .navbar .container .navbar-brand {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

body .container-fluid .navbar .container .imgBox {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  body .container-fluid .navbar .container .imgBox {
    display: none;
  }
}

body .container-fluid .navbar .container .nav-item {
  display: none;
}

@media screen and (max-width: 768px) {
  body .container-fluid .navbar .container .nav-item {
    display: block;
    background-image: url("./obj/select.png");
    width: 60px;
    height: 60px;
    position: relative;
  }
  body .container-fluid .navbar .container .nav-item .dropdown-toggle:after {
    border-top: 0;
  }
}

body .container-fluid .navbar .container .bg-img {
  height: 100%;
  width: 25%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

body .container-fluid .navbar .container .bg-img:hover {
  border-bottom: solid plum 10px;
}

body .container-fluid .albumInsideContentBox {
  display: none;
}

body .container-fluid .albumInsideContentBox.active {
  padding-top: 10px;
  position: absolute;
  top: 15vh;
  left: 50%;
  z-index: 2222;
  width: 100%;
  height: 75vh;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #9f5db3;
  background: -webkit-gradient(linear, left top, right top, from(#9f5db3), to(#100945));
  background: linear-gradient(90deg, #9f5db3 0%, #100945 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .container-fluid .albumInsideContentBox.active:after {
  cursor: pointer;
  pointer-events: auto;
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 10px;
  left: calc(100% - 40px);
  background-size: cover;
  background-position: center;
  background-image: url("./albumPic/cancel.png");
}

@media screen and (max-width: 1024px) {
  body .container-fluid .albumInsideContentBox.active {
    width: 80vw;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

body .container-fluid .albumInsideContentBox.active .albumFirstContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: rebeccapurple solid 1px;
  width: 50vh;
}

@media screen and (max-width: 1024px) {
  body .container-fluid .albumInsideContentBox.active .albumFirstContent {
    width: 80vw;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

body .container-fluid .albumInsideContentBox.active .albumFirstContent .albumPicture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container-fluid .albumInsideContentBox.active .albumFirstContent .albumPicture img {
  padding-top: 30px;
  width: 50vh;
  height: auto;
}

@media screen and (max-width: 1024px) {
  body .container-fluid .albumInsideContentBox.active .albumFirstContent .albumPicture img {
    width: 50vw;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  body .container-fluid .albumInsideContentBox.active .albumFirstContent .albumPicture img {
    width: 60vw;
    height: auto;
  }
}

body .container-fluid .albumInsideContentBox.active .albumFirstContent .albumName {
  width: 50vh;
  height: 15vh;
  text-align: center;
}

body .container-fluid .albumInsideContentBox.active .albumFirstContent .albumName img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 1024px) {
  body .container-fluid .albumInsideContentBox.active .albumFirstContent .albumName {
    width: 100%;
    height: 10vh;
  }
}

body .container-fluid .albumInsideContentBox.active .listBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% - 55vh);
  height: 100%;
}

body .container-fluid .albumInsideContentBox.active .listBox ul {
  overflow: scroll;
  width: 100%;
  height: 90%;
  list-style: none;
  margin: 0;
}

body .container-fluid .albumInsideContentBox.active .listBox ul li {
  font-size: 30px;
  padding: 0px;
  color: white;
}

@media screen and (max-width: 768px) {
  body .container-fluid .albumInsideContentBox.active .listBox ul li {
    font-size: 23px;
  }
}

@media screen and (max-width: 414px) {
  body .container-fluid .albumInsideContentBox.active .listBox ul li {
    font-size: 15px;
  }
}

body .container-fluid .albumInsideContentBox.active .listBox .songName {
  width: 100%;
  height: 70%;
}

@media screen and (max-width: 1024px) {
  body .container-fluid .albumInsideContentBox.active .listBox .songName {
    width: 100%;
  }
}

body .container-fluid .albumInsideContentBox.active .listBox .songName .NameList .swiper-slide {
  text-align: center;
  font-size: 25px;
  color: white;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  body .container-fluid .albumInsideContentBox.active .listBox .songName .NameList .swiper-slide {
    font-size: 15px;
  }
}

@media screen and (max-width: 1024px) {
  body .container-fluid .albumInsideContentBox.active .listBox {
    width: 100%;
    height: calc(100% - 10vh - 50vw);
  }
}

@media screen and (max-width: 768px) {
  body .container-fluid .albumInsideContentBox.active .listBox {
    width: 100%;
    height: calc(100% - 10vh - 60vw);
  }
}

body .container-fluid .container {
  padding-top: 140px;
}

body .container-fluid .container .mask {
  position: absolute;
  left: 0;
  top: 60%;
  z-index: 1111;
  width: 100%;
  height: 7vh;
}

body .container-fluid .container .mask:before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  left: 30%;
  -webkit-transform: translateY(60%);
          transform: translateY(60%);
  background-size: cover;
  background-position: center;
  background-image: url("./albumPic/L.png");
}

@media screen and (max-width: 1280px) {
  body .container-fluid .container .mask:before {
    left: 15%;
  }
}

@media screen and (max-width: 1024px) {
  body .container-fluid .container .mask:before {
    left: 5%;
  }
}

body .container-fluid .container .mask:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  right: 30%;
  -webkit-transform: translateY(60%);
          transform: translateY(60%);
  background-size: cover;
  background-position: center;
  background-image: url("./albumPic/R.png");
}

@media screen and (max-width: 1280px) {
  body .container-fluid .container .mask:after {
    right: 15%;
  }
}

@media screen and (max-width: 1024px) {
  body .container-fluid .container .mask:after {
    right: 5%;
  }
}

body .container-fluid .container .Name {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 28vh;
}

body .container-fluid .container .Name .mask {
  width: 100%;
  height: 14vh;
  background: #5f2b2b;
}

body .container-fluid .container .Name .NameList .swiper-slide {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container-fluid .container .Name .NameList .swiper-slide img {
  height: 100%;
  width: auto;
}

@media screen and (max-width: 768px) {
  body .container-fluid .container .Name .NameList .swiper-slide img {
    height: 60%;
  }
}

body .container-fluid .container .Pic {
  width: 100%;
  margin-top: 5%;
}

@media screen and (max-width: 1280px) {
  body .container-fluid .container .Pic {
    margin-top: 10%;
  }
}

@media screen and (max-width: 1024px) {
  body .container-fluid .container .Pic {
    margin-top: 8%;
  }
}

body .container-fluid .container .Pic .swiper-wrapper .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

@media screen and (max-width: 414px) {
  body .container-fluid .container .Pic .swiper-wrapper .swiper-slide {
    width: 230px;
    height: 230px;
  }
}

@media screen and (max-width: 375px) {
  body .container-fluid .container .Pic .swiper-wrapper .swiper-slide {
    width: 200px;
    height: 200px;
  }
}

body .container-fluid .footer {
  position: fixed;
  width: 100%;
  padding: 3px;
  color: azure;
  background-color: #0c0a35;
  text-align: center;
  bottom: 0%;
}

@-webkit-keyframes example {
  0% {
    background-image: url("./img/pic2/all.png");
  }
  33% {
    background-image: url("./img/pic2/nb.png");
  }
  66% {
    background-image: url("./img/pic2/nw.png");
  }
  100% {
    background-image: url("./img/pic2/nw.png");
  }
}

@keyframes example {
  0% {
    background-image: url("./img/pic2/all.png");
  }
  33% {
    background-image: url("./img/pic2/nb.png");
  }
  66% {
    background-image: url("./img/pic2/nw.png");
  }
  100% {
    background-image: url("./img/pic2/nw.png");
  }
}
/*# sourceMappingURL=album.css.map */