html{
  scroll-behavior: smooth;
  body {
  margin: 0;
  
  .top {
    transition: 0.5s;
    padding-right: 0;
    padding-left: 0;
    // padding-top: 40px;
    width: 100%;
    height: 100%;
    // background-color: #BBAA99;
    // background-image: url("./img/pic2/BG.png");
    background: rgb(29, 14, 57);
    background: linear-gradient(90deg, rgba(29, 14, 57, 1) 0%, rgba(196, 19, 188, 1) 47%, rgba(29, 14, 57, 1) 100%);

    .navbar {
      width: 100%;
      background-image: url("./img/pic2/NAV.png");

      .container {
        display: flex;
        height: 100px;
        padding-top: 40px;
        flex-wrap: nowrap;

        .navbar-brand {
          padding-top: 100px;
          height: 180px;
          width: 160px;
          background-image: url("./img/pic2/all.png");
          animation-name: example;
          animation-duration: 0.5s;
          animation-iteration-count: infinite;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          @media screen and (max-width: 768px) {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            //
          }
        }

        .imgBox {
          display: flex;
          justify-content: space-between;
          margin: 20px;
          width: 100%;
          height: 100%;
          @media screen and (max-width: 768px) {
            display: none;
          }
        }

        // *******************************************************
        .nav-item {
          display: none;
          @media screen and (max-width: 768px) {
            display: block;
            background-image: url("./obj/select.png");
            width: 60px;
            height: 60px;
            position: relative;
            .dropdown-toggle {
              &:after {
                border-top: 0;
              }
            }

          }
        }
        // *************************************************************
        .bg-img {
          height: 100%;
          width: 25%;
          transition: 0.5s;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }

        .bg-img:hover {
          border-bottom: solid plum 10px;
        }
      }
    }

    .start {
      //start
      transition: 1s;
      display: flex;
      justify-content: center;
      // position: relative;
      align-items: center;
      width: 100%;
      height: 75vh;
      img {
        animation-name: startShine;
        animation-duration: 1.2s;
        animation-iteration-count: infinite;
        width: 30%;
        height: auto;
        // position: absolute;
        // margin: auto;
        // top: 50%;
        // // left: 50%;
        // // transform: translateX(-50%);
        // transform: translateY(-50%);
        @media screen and (max-width: 768px) {
          width: 50%;
        }
      }
    }
    #startword {
      text-align: center;
      color: aliceblue;
      font-size: 42px;
      padding: 10px;
      @media screen and (max-width: 414px) {
        font-size: 30px;
      }
    }
    .eventAll {
      padding: 0;
      // background-color: grey;
      .background {
        background-image: url(./event/bgline.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        @media screen and (max-width: 768px) {
          background-image: url();
        }
        .event_box {
          .timeline {
            //時間線 中間那條
            position: relative;
            max-width: 1140px;
            margin: 0 auto;
            &:after {
              content: "";
              position: absolute;
              width: 6px;
              background-color: white;
              top: 0;
              bottom: 0;
              left: 50%;
              margin-left: -3px;
              @media screen and (max-width: 768px) {
                left: 30px;
              }
            }
            .container {
              padding: 0;
              position: relative;
              // background-color: greenyellow;
              width: 50%;
              font-size: 35px;
              color: white;
              @media screen and (max-width: 768px) {
                width: 100%;
                font-size: 35px;
                padding: 0;
              }
              @media screen and (max-width: 414px) {
                width: 100%;
                font-size: 20px;
              }
              &:after {
                content: "";
                position: absolute;
                width: 25px;
                height: 25px;
                right: -13px;
                background-color: white;
                border: 4px solid #ff9f55;
                top: 22px;
                border-radius: 50%;
                z-index: 1;
              }
              .content {
                padding: 20px 30px;
                // background-color: white;
                position: relative;
                border-radius: 6px;
                img {
                  width: 100%;
                }
              }
            }
            .container.left {
              left: -25%;
              @media screen and (max-width: 768px) {
                left: 30px;
              }
              // &:before {
              //   content: " ";
              //   height: 0;
              //   position: absolute;
              //   top: 22px;
              //   width: 0;
              //   z-index: 1;
              //   right: 30px;
              //   border: medium solid white;
              //   border-width: 10px 0 10px 10px;
              //   border-color: transparent transparent transparent white;
              //   @media screen and (max-width: 768px) {
              //     border-width: 10px 10px 10px 0;
              //     border-color: transparent white transparent transparent;
              //     left: 30px;
              //   }
              // }
              &:after {
                @media screen and (max-width: 768px) {
                  left: -13px;
                }
              }
            }
            .container.right {
              left: 25%;
              @media screen and (max-width: 768px) {
                left: 30px;
              }
              // &:before {
              //   content: " ";
              //   height: 0;
              //   position: absolute;
              //   top: 22px;
              //   width: 0;
              //   z-index: 1;
              //   left: 30px;
              //   border: medium solid white;
              //   border-width: 10px 10px 10px 0;
              //   border-color: transparent white transparent transparent;
              // }
              &:after {
                left: -13px;
              }
            }
          }
        }
      }

      .loading {
        display: flex;
        justify-content: center;
        @media screen and (max-width: 768px) {
          justify-content: left;
        }
        img {
          padding: 25px 0 0 0;
          width: 50%;
          @media screen and (max-width: 768px) {
            width: 80%;
          }
        }
      }

      .bottomPeo {
        // width: 100%;
        img {
          width: 100%;
          // height: auto;
        }
      }

      .footer {
        position: fixed;
        width: 100%;
        padding: 3px;
        color: azure;
        background-color: #0c0a35;
        text-align: center;
        bottom: 0%;
        z-index: 2000;
      }
    }
  }
}
@keyframes example {
  0% {
    background-image: url("./img/pic2/all.png");
  }
  33% {
    background-image: url("./img/pic2/nb.png");
  }
  66% {
    background-image: url("./img/pic2/nw.png");
  }
  100% {
    background-image: url("./img/pic2/nw.png");
  }
}
@keyframes startShine {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

}
