html {
  scroll-behavior: smooth;
}

html body {
  margin: 0;
}

html body .top {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-right: 0;
  padding-left: 0;
  width: 100%;
  height: 100%;
  background: #1d0e39;
  background: -webkit-gradient(linear, left top, right top, from(#1d0e39), color-stop(47%, #c413bc), to(#1d0e39));
  background: linear-gradient(90deg, #1d0e39 0%, #c413bc 47%, #1d0e39 100%);
}

html body .top .navbar {
  width: 100%;
  background-image: url("./img/pic2/NAV.png");
}

html body .top .navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  padding-top: 40px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

html body .top .navbar .container .navbar-brand {
  padding-top: 100px;
  height: 180px;
  width: 160px;
  background-image: url("./img/pic2/all.png");
  -webkit-animation-name: example;
          animation-name: example;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 768px) {
  html body .top .navbar .container .navbar-brand {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

html body .top .navbar .container .imgBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  html body .top .navbar .container .imgBox {
    display: none;
  }
}

html body .top .navbar .container .nav-item {
  display: none;
}

@media screen and (max-width: 768px) {
  html body .top .navbar .container .nav-item {
    display: block;
    background-image: url("./obj/select.png");
    width: 60px;
    height: 60px;
    position: relative;
  }
  html body .top .navbar .container .nav-item .dropdown-toggle:after {
    border-top: 0;
  }
}

html body .top .navbar .container .bg-img {
  height: 100%;
  width: 25%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

html body .top .navbar .container .bg-img:hover {
  border-bottom: solid plum 10px;
}

html body .top .start {
  -webkit-transition: 1s;
  transition: 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 75vh;
}

html body .top .start img {
  -webkit-animation-name: startShine;
          animation-name: startShine;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  width: 30%;
  height: auto;
}

@media screen and (max-width: 768px) {
  html body .top .start img {
    width: 50%;
  }
}

html body .top #startword {
  text-align: center;
  color: aliceblue;
  font-size: 42px;
  padding: 10px;
}

@media screen and (max-width: 414px) {
  html body .top #startword {
    font-size: 30px;
  }
}

html body .top .eventAll .background {
  background-image: url(./event/bgline.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@media screen and (max-width: 768px) {
  html body .top .eventAll .background {
    background-image: url();
  }
}

html body .top .eventAll .background .event_box .timeline {
  position: relative;
  max-width: 1140px;
  margin: 0 auto;
}

html body .top .eventAll .background .event_box .timeline:after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

@media screen and (max-width: 768px) {
  html body .top .eventAll .background .event_box .timeline:after {
    left: 30px;
  }
}

html body .top .eventAll .background .event_box .timeline .container {
  padding: 0;
  position: relative;
  width: 50%;
  font-size: 35px;
  color: white;
}

@media screen and (max-width: 768px) {
  html body .top .eventAll .background .event_box .timeline .container {
    width: 100%;
    font-size: 35px;
    padding: 0;
  }
}

@media screen and (max-width: 414px) {
  html body .top .eventAll .background .event_box .timeline .container {
    width: 100%;
    font-size: 20px;
  }
}

html body .top .eventAll .background .event_box .timeline .container:after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -13px;
  background-color: white;
  border: 4px solid #ff9f55;
  top: 22px;
  border-radius: 50%;
  z-index: 1;
}

html body .top .eventAll .background .event_box .timeline .container .content {
  padding: 20px 30px;
  position: relative;
  border-radius: 6px;
}

html body .top .eventAll .background .event_box .timeline .container .content img {
  width: 100%;
}

html body .top .eventAll .background .event_box .timeline .container.left {
  left: -25%;
}

@media screen and (max-width: 768px) {
  html body .top .eventAll .background .event_box .timeline .container.left {
    left: 30px;
  }
}

@media screen and (max-width: 768px) {
  html body .top .eventAll .background .event_box .timeline .container.left:after {
    left: -13px;
  }
}

html body .top .eventAll .background .event_box .timeline .container.right {
  left: 25%;
}

@media screen and (max-width: 768px) {
  html body .top .eventAll .background .event_box .timeline .container.right {
    left: 30px;
  }
}

html body .top .eventAll .background .event_box .timeline .container.right:after {
  left: -13px;
}

html body .top .eventAll .loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  html body .top .eventAll .loading {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

html body .top .eventAll .loading img {
  padding: 25px 0 0 0;
  width: 50%;
}

@media screen and (max-width: 768px) {
  html body .top .eventAll .loading img {
    width: 80%;
  }
}

html body .top .eventAll .bottomPeo {
  width: 100%;
}

html body .top .eventAll .bottomPeo img {
  width: 100%;
  height: auto;
}

html body .top .eventAll .footer {
  position: fixed;
  width: 100%;
  padding: 3px;
  color: azure;
  background-color: #0c0a35;
  text-align: center;
  bottom: 0%;
  z-index: 2000;
}

@-webkit-keyframes example {
  0% {
    background-image: url("./img/pic2/all.png");
  }
  33% {
    background-image: url("./img/pic2/nb.png");
  }
  66% {
    background-image: url("./img/pic2/nw.png");
  }
  100% {
    background-image: url("./img/pic2/nw.png");
  }
}

@keyframes example {
  0% {
    background-image: url("./img/pic2/all.png");
  }
  33% {
    background-image: url("./img/pic2/nb.png");
  }
  66% {
    background-image: url("./img/pic2/nw.png");
  }
  100% {
    background-image: url("./img/pic2/nw.png");
  }
}

@-webkit-keyframes startShine {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes startShine {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/*# sourceMappingURL=event.css.map */