body {
  margin: 0;
  .top{
    padding-right: 0;
    padding-left: 0;
    // padding-top: 40px;
    width: 100%;
    height: 100vh;
    // background-color: #BBAA99;
    background-image: url("./img/pic2/BG.png");

    .navbar {
      // height: 100px;
      background-image: url("./img/pic2/NAV.png");
      .container {
        display: flex;
        height: 100px;
        padding-top: 40px;
        flex-wrap: nowrap;
        // position: relative;
        .navbar-brand {
          // position: absolute;

          // padding-top: 100px;
          height: 140px;
          width: 120px;
          background-image: url("./img/pic2/all.png");
          // background-image: url("./img/pic2/nb.png");
          animation-name: example;
          animation-duration: 0.3s;
          animation-iteration-count: infinite;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          @media screen and (max-width: 768px) {
            display: none;
          }
        }
        .imgBox {
          display: flex;
          justify-content: space-between;
          margin: 20px;
          width: 100%;
          height: 100%;
          @media screen and (max-width: 768px) {
            display: none;
          }
        }
        .selectBar {
          display: none;
          @media screen and (max-width: 768px) {
            display: block;
            background-image: url("./obj/select.png");
            width: 60px;
            height: 60px;
            position: relative;
            ul {
              position: absolute;
              display: flex;
              flex-wrap: wrap;
              top: 70px;
              display: none;
              width: 200px;
              // height: 200px;
              background-color: cornsilk;
            }
            ul a {
              text-align: center;
              font-size: 26px;
            }
          }
        }
        .bg-img {
          height: 100%;
          width: 25%;
          transition: 0.5s;
          // background-color: honeydew;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
        .bg-img:hover {
          border-bottom: solid plum 10px;
        }
      }
    }
    .start {
      width: 100%;
      height: 100vh;
    }
.eventAll{
  background-color: grey;
  .event_box {
      
      .timeline {
        //時間線 中間那條
        position: relative;
        max-width: 1140px;
        margin: 0 auto;
        &:after {
          content: "";
          position: absolute;
          width: 6px;
          background-color: white;
          top: 0;
          bottom: 0;
          left: 50%;
          margin-left: -3px;
          @media screen and (max-width: 768px) {
            left: 30px;
          }
        }
        .container {
          padding: 10px 40px;
          position: relative;
          // background-color: greenyellow;
          width: 50%;
          @media screen and (max-width: 768px) {
            width: 100%;
          }
          &:after {
            content: "";
            position: absolute;
            width: 25px;
            height: 25px;
            right: -13px;
            background-color: white;
            border: 4px solid #ff9f55;
            top: 20px;
            border-radius: 50%;
            z-index: 1;
          }
          .content {
            padding: 20px 30px;
            background-color: white;
            position: relative;
            border-radius: 6px;
          }
        }
        .container.left {
          left: -25%;
          @media screen and (max-width: 768px) {
            left: 30px;
          }
          &:before {
            content: " ";
            height: 0;
            position: absolute;
            top: 22px;
            width: 0;
            z-index: 1;
            right: 30px;
            border: medium solid white;
            border-width: 10px 0 10px 10px;
            border-color: transparent transparent transparent white;
            @media screen and (max-width: 768px) {
              border-width: 10px 10px 10px 0;
              border-color: transparent white transparent transparent;
              left: 30px;
            }
          }
          &:after {
            @media screen and (max-width: 768px) {
              left: -13px;
            }
          }
        }
        .container.right {
          left: 25%;
          @media screen and (max-width: 768px) {
            left: 30px;
          }
          &:before {
            content: " ";
            height: 0;
            position: absolute;
            top: 22px;
            width: 0;
            z-index: 1;
            left: 30px;
            border: medium solid white;
            border-width: 10px 10px 10px 0;
            border-color: transparent white transparent transparent;
          }
          &:after {
            left: -13px;
          }
        }
      }
    }
}
    

    .footer {
      position: fixed;
      width: 100%;
      padding: 3px;
      color: azure;
      background-color: #0c0a35;
      text-align: center;
      bottom: 0%;
    }
  }
}
@keyframes example {
  0% {
    background-image: url("./img/pic2/all.png");
  }
  33% {
    background-image: url("./img/pic2/nb.png");
  }
  66% {
    background-image: url("./img/pic2/nw.png");
  }
  100% {
    background-image: url("./img/pic2/nw.png");
  }
}

// 100% {
//     background-image: url('./img/pic2/all.png');
// }
// }
