body {
  margin: 0;
}

body .container-fluid {
  padding-right: 0;
  padding-left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("./img/pic2/BG.png");
}

body .container-fluid .navbar {
  background-image: url("./img/pic2/NAV.png");
}

body .container-fluid .navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  padding-top: 40px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

body .container-fluid .navbar .container .navbar-brand {
  height: 140px;
  width: 120px;
  background-image: url("./img/pic2/all.png");
  -webkit-animation-name: example;
          animation-name: example;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 768px) {
  body .container-fluid .navbar .container .navbar-brand {
    display: none;
  }
}

body .container-fluid .navbar .container .imgBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  body .container-fluid .navbar .container .imgBox {
    display: none;
  }
}

body .container-fluid .navbar .container .selectBar {
  display: none;
}

@media screen and (max-width: 768px) {
  body .container-fluid .navbar .container .selectBar {
    display: block;
    background-image: url("./obj/select.png");
    width: 60px;
    height: 60px;
    position: relative;
  }
  body .container-fluid .navbar .container .selectBar ul {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    top: 70px;
    display: none;
    width: 200px;
    background-color: cornsilk;
  }
  body .container-fluid .navbar .container .selectBar ul a {
    text-align: center;
    font-size: 26px;
  }
}

body .container-fluid .navbar .container .bg-img {
  height: 100%;
  width: 25%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

body .container-fluid .navbar .container .bg-img:hover {
  border-bottom: solid plum 10px;
}

body .container-fluid .start {
  width: 100%;
  height: 100vh;
}

body .container-fluid .container {
  background-color: grey;
}

body .container-fluid .container .timeline {
  position: relative;
  max-width: 1140px;
  margin: 0 auto;
}

body .container-fluid .container .timeline:after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

body .container-fluid .container .timeline .container {
  padding: 10px 40px;
  position: relative;
  width: 50%;
}

body .container-fluid .container .timeline .container:after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -13px;
  background-color: white;
  border: 4px solid #ff9f55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

body .container-fluid .container .timeline .container .content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

body .container-fluid .container .timeline .container.left {
  left: -25%;
}

body .container-fluid .container .timeline .container.left:before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

body .container-fluid .container .timeline .container.right {
  left: 25%;
}

body .container-fluid .container .timeline .container.right:before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

body .container-fluid .container .timeline .container.right:after {
  left: -13px;
}

body .container-fluid .footer {
  position: fixed;
  width: 100%;
  padding: 3px;
  color: azure;
  background-color: #0c0a35;
  text-align: center;
  bottom: 0%;
}

@-webkit-keyframes example {
  0% {
    background-image: url("./img/pic2/all.png");
  }
  33% {
    background-image: url("./img/pic2/nb.png");
  }
  66% {
    background-image: url("./img/pic2/nw.png");
  }
  100% {
    background-image: url("./img/pic2/nw.png");
  }
}

@keyframes example {
  0% {
    background-image: url("./img/pic2/all.png");
  }
  33% {
    background-image: url("./img/pic2/nb.png");
  }
  66% {
    background-image: url("./img/pic2/nw.png");
  }
  100% {
    background-image: url("./img/pic2/nw.png");
  }
}
/*# sourceMappingURL=event.css.map */