body {
  margin: 0;
  .container-fluid {
    padding-right: 0;
    padding-left: 0;
    // padding-top: 40px;
    width: 100%;
    height: 100%;
    // background-color: #BBAA99;
    // background-image: url("./img/pic2/BG.png");
    background: rgb(29, 14, 57);
    background: linear-gradient(90deg, rgba(29, 14, 57, 1) 0%, rgba(196, 19, 188, 1) 47%, rgba(29, 14, 57, 1) 100%);

    .navbar {
      width: 100%;
      background-image: url("./img/pic2/NAV.png");

      .container {
        display: flex;
        height: 100px;
        padding-top: 40px;
        flex-wrap: nowrap;

        .navbar-brand {
          padding-top: 100px;
          height: 180px;
          width: 160px;
          background-image: url("./img/pic2/all.png");
          animation-name: example;
          animation-duration: 0.5s;
          animation-iteration-count: infinite;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          @media screen and (max-width: 768px) {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            //
          }
        }

        .imgBox {
          display: flex;
          justify-content: space-between;
          margin: 20px;
          width: 100%;
          height: 100%;
          @media screen and (max-width: 768px) {
            display: none;
          }
        }

        // *******************************************************
        .nav-item {
          display: none;
          @media screen and (max-width: 768px) {
            display: block;
            background-image: url("./obj/select.png");
            width: 60px;
            height: 60px;
            position: relative;
            .dropdown-toggle {
              &:after {
                border-top: 0;
              }
            }
          }
        }
        // *************************************************************
        .bg-img {
          height: 100%;
          width: 25%;
          transition: 0.5s;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }

        .bg-img:hover {
          border-bottom: solid plum 10px;
        }
      }
    }
    .box {
      @media screen and (max-width: 768px) {
        width: 100%;
        height: 120px;
      }
    }
    .container-fluid {
      .first_product_box {
        padding-top: 140px;
        width: 100%;
        height: 100vh;
        // background-color: burlywood;
        background-image: url("./Products_pic/layer1.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        // background-attachment: fixed;
        @media screen and (max-width: 1280px) {
          height: 75vh;
          // margin-top: 60px;
        }
        @media screen and (max-width: 1024px) {
          height: 50vh;
          // margin-top: 60px;
        }
        @media screen and (max-width: 768px) {
          height: 33vh;
          // margin-top: 60px;
        }
        @media screen and (max-width: 375px) {
          height: 25vh;
          // margin-top: 60px;
        }
      }
      .product_box {
        width: 100%;
        // height: 78vh;
        margin: 0 0 20px 0;
        // border: black 1px solid;
        // @media screen and (max-width: 768px) {
        //   // height: 27vh;
        // }
      }
      .box1 {
        overflow: hidden;
        height: 87vh;
        @media screen and (max-width: 1024px) {
          height: 50vh;
        }
        // @media screen and (max-width: 768px) {
        //   height: 33vh;
        // }
        .swiper-wrapper {
          .swiper-slide {
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
          }

          .swiper-pagination {
            bottom: unset;
          }
        }
      }

      .box2 {
        .layer2_l {
          // border: #ee0a35 1px solid;
          height: 100%;
          height: calc(66vw - 20px);
          padding: 0px;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          display: flex;
          align-items: center;
          img {
            width: 100%;
            height: auto;
            @media screen and (max-width: 768px) {
              width: auto;
              height: 100%;
            }
          }
        }
        .layer2_r {
          display: flex;
          flex-wrap: wrap;
          height: 100%;
          padding: 0px;

          // @media screen and (max-width: 768px) {
          //   height: 27vh;
          // }
          .layer2_r_item {
            // border: #ee0a35 1px solid;
            width: calc(50% - 20px);
            height: calc(33vw - 20px);
            margin: 10px;
            // background-repeat: no-repeat;
            // background-size: cover;
            // background-position: center;
            background: rgb(208, 106, 42);
            background: linear-gradient(0deg, rgba(208, 106, 42, 1) 0%, rgba(12, 16, 103, 0.9920343137254902) 100%);
            display: flex;
            align-items: center;
            @media screen and (max-width: 768px) {
              height: calc(50vw - 20px);
            }
            img {
              width: 100%;
              height: auto;
            }
          }
        }
      }
      .box3 {
        position: relative;
        .layer3_cont {
          display: flex;
          max-width: 100%;
          height: 60vw;
          .layer3 {
            // border: #ee0a35 1px solid;
            height: 100%;
            // background-repeat: no-repeat;
            // background-size: cover;
            // background-position: center;
            z-index: 10;
            img {
              width: 100%;
              height: auto;
            }
          }
        }
        .layer3_backRect {
          position: absolute;
          width: 50%;
          height: 70%;
          background-color: salmon;
          // margin:0 auto
          // transform: translateX(50%);
          // transform: translateY(50%);
          top: 15%;
          left: 25%;
        }
      }

      .box4 {
        position: relative;
        .layer4_cont {
          // position: absolute;
          display: flex;
          height: 100%;
          width: 100%;
          .layer4 {
            // border: #ee0a35 1px solid;
            height: 100%;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            z-index: 10;
            img {
              width: 100%;
              height: auto;
            }
          }
        }
        .layer4_group {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: space-between;
          .layer4_backRect {
            height: 100%;
            background-color: brown;
            // background-repeat: no-repeat;
            // background-size: contain;
          }
          img {
            width: 100%;
            height: auto;
          }
        }
      }
      .box5 {
        position: relative;
        width: 100%;
        height: 40vw;
        .layer5PicBox {
          height: 100%;
          display: flex;
          justify-content: space-between;
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
        }
      }
      .swiper-container {
        // width: 100%;
        // height: 90vh;
        .swiper-wrapper {
          .swiper-slide {
            // text-align: center;
            // font-size: 18px;
            // background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            @media screen and (max-width: 768px) {
              height: 33vh;
            }
          }
        }
      }
      .box_bot {
        height: 30px;
      }
    }

    .footer {
      position: fixed;
      width: 100%;
      padding: 3px;
      color: azure;
      background-color: #0c0a35;
      text-align: center;
      bottom: 0%;
      z-index: 2222;
    }
  }
}
@keyframes example {
  0% {
    background-image: url("./img/pic2/all.png");
  }
  33% {
    background-image: url("./img/pic2/nb.png");
  }
  66% {
    background-image: url("./img/pic2/nw.png");
  }
  100% {
    background-image: url("./img/pic2/nw.png");
  }
}
