body {
  margin: 0;
}

body .container-fluid {
  padding-right: 0;
  padding-left: 0;
  width: 100%;
  height: 100%;
  background: #1d0e39;
  background: -webkit-gradient(linear, left top, right top, from(#1d0e39), color-stop(47%, #c413bc), to(#1d0e39));
  background: linear-gradient(90deg, #1d0e39 0%, #c413bc 47%, #1d0e39 100%);
}

body .container-fluid .navbar {
  width: 100%;
  background-image: url("./img/pic2/NAV.png");
  z-index: 1112;
}

body .container-fluid .navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  padding-top: 40px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

body .container-fluid .navbar .container .nav-item .dropdown-menu {
  min-width: 92vw;
  background-color: #6824da;
}

body .container-fluid .navbar .container .nav-item .dropdown-menu a {
  color: aliceblue;
  text-align: center;
}

body .container-fluid .navbar .container .nav-item .dropdown-menu a:hover {
  color: black;
}

body .container-fluid .navbar .container .navbar-brand {
  padding-top: 100px;
  height: 180px;
  width: 160px;
  background-image: url("./img/pic2/all.png");
  -webkit-animation-name: example;
          animation-name: example;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 768px) {
  body .container-fluid .navbar .container .navbar-brand {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

body .container-fluid .navbar .container .imgBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  body .container-fluid .navbar .container .imgBox {
    display: none;
  }
}

body .container-fluid .navbar .container .nav-item {
  display: none;
}

@media screen and (max-width: 768px) {
  body .container-fluid .navbar .container .nav-item {
    display: block;
    background-image: url("./obj/select.png");
    width: 60px;
    height: 60px;
    position: relative;
  }
  body .container-fluid .navbar .container .nav-item .dropdown-toggle:after {
    border-top: 0;
  }
}

body .container-fluid .navbar .container .bg-img {
  height: 100%;
  width: 25%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

body .container-fluid .navbar .container .bg-img:hover {
  border-bottom: solid plum 10px;
}

@media screen and (max-width: 768px) {
  body .container-fluid .box {
    width: 100%;
    height: 120px;
  }
}

body .container-fluid .container-fluid {
  position: relative;
}

body .container-fluid .container-fluid .first_product_box {
  padding-top: 140px;
  width: 100%;
  height: 100vh;
  background-image: url("./Products_pic/layer1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 1280px) {
  body .container-fluid .container-fluid .first_product_box {
    height: 75vh;
  }
}

@media screen and (max-width: 1024px) {
  body .container-fluid .container-fluid .first_product_box {
    height: 50vh;
  }
}

@media screen and (max-width: 414px) {
  body .container-fluid .container-fluid .first_product_box {
    height: 25vh;
  }
}

body .container-fluid .container-fluid .first_product_box .productWord {
  position: absolute;
  top: 10vh;
  left: 75%;
}

body .container-fluid .container-fluid .first_product_box .productWord img {
  width: 23vw;
  height: auto;
}

@media screen and (max-width: 414px) {
  body .container-fluid .container-fluid .first_product_box .productWord {
    top: 1vh;
  }
}

body .container-fluid .container-fluid .light {
  position: absolute;
  top: 0;
  padding-top: 140px;
  width: 100%;
  height: 100vh;
  background-image: url("./products/layer1_light.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-animation-name: light;
          animation-name: light;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@media screen and (max-width: 1280px) {
  body .container-fluid .container-fluid .light {
    height: 75vh;
  }
}

@media screen and (max-width: 1024px) {
  body .container-fluid .container-fluid .light {
    height: 50vh;
  }
}

@media screen and (max-width: 414px) {
  body .container-fluid .container-fluid .light {
    height: 25vh;
  }
}

body .container-fluid .container-fluid .product_box {
  width: 100%;
  margin: 0 0 20px 0;
}

body .container-fluid .container-fluid .box1 {
  overflow: hidden;
  height: 87vh;
}

@media screen and (max-width: 1024px) {
  body .container-fluid .container-fluid .box1 {
    height: 50vh;
  }
}

body .container-fluid .container-fluid .box1 .swiper-wrapper .swiper-slide {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

body .container-fluid .container-fluid .box1 .swiper-wrapper .swiper-pagination {
  bottom: unset;
}

body .container-fluid .container-fluid .box2 .layer2_l {
  background: #ff6803;
  background: -webkit-gradient(linear, left bottom, left top, from(#ff6803), to(#32078f));
  background: linear-gradient(0deg, #ff6803 0%, #32078f 100%);
  height: 100%;
  margin-top: 10px;
  height: calc(66vw - 20px);
  padding: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container-fluid .container-fluid .box2 .layer2_l img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  body .container-fluid .container-fluid .box2 .layer2_l img {
    width: auto;
    height: 100%;
  }
}

body .container-fluid .container-fluid .box2 .layer2_l:after {
  content: "";
  position: absolute;
  background-image: url("./products/layer3_1people.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 40vw;
  height: 100%;
  left: 10vw;
  z-index: 1111;
}

@media screen and (max-width: 768px) {
  body .container-fluid .container-fluid .box2 .layer2_l:after {
    left: 40vw;
  }
}

body .container-fluid .container-fluid .box2 .layer2_r {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  padding: 0px;
}

body .container-fluid .container-fluid .box2 .layer2_r .layer2_r_item {
  width: calc(50% - 20px);
  height: calc(33vw - 20px);
  margin: 10px;
  background: #ff6803;
  background: -webkit-gradient(linear, left bottom, left top, from(#ff6803), to(#32078f));
  background: linear-gradient(0deg, #ff6803 0%, #32078f 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 414px) {
  body .container-fluid .container-fluid .box2 .layer2_r .layer2_r_item {
    height: calc(50vw - 20px);
  }
}

body .container-fluid .container-fluid .box2 .layer2_r .layer2_r_item img {
  width: 100%;
  height: auto;
}

body .container-fluid .container-fluid .box3 {
  position: relative;
}

body .container-fluid .container-fluid .box3 .layer3_cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  height: 60vw;
}

body .container-fluid .container-fluid .box3 .layer3_cont .layer3 {
  height: 100%;
  z-index: 10;
}

body .container-fluid .container-fluid .box3 .layer3_cont .layer3 img {
  width: 100%;
  height: auto;
}

body .container-fluid .container-fluid .box3 .layer3_backRect {
  position: absolute;
  width: 50%;
  height: 70%;
  background: #b448d5;
  background: linear-gradient(28deg, rgba(180, 72, 213, 0.0632184) 0%, #38187e 100%);
  top: 15%;
  left: 25%;
}

body .container-fluid .container-fluid .box4 {
  position: relative;
}

body .container-fluid .container-fluid .box4 .layer4_cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
}

body .container-fluid .container-fluid .box4 .layer4_cont .layer4 {
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 10;
}

body .container-fluid .container-fluid .box4 .layer4_cont .layer4 img {
  width: 100%;
  height: auto;
}

body .container-fluid .container-fluid .box4 .layer4_group {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: unset;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .container-fluid .container-fluid .box4 .layer4_group .layer4_backRect {
  height: 100%;
  background-color: #e84d0d;
}

body .container-fluid .container-fluid .box4 .layer4_group img {
  width: 100%;
  height: auto;
}

body .container-fluid .container-fluid .box4 .peoLayer5 {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  z-index: 1111;
}

body .container-fluid .container-fluid .box4 .peoLayer5 img {
  width: 45vw;
}

body .container-fluid .container-fluid .box5 {
  position: relative;
  width: 100%;
  height: 40vw;
}

body .container-fluid .container-fluid .box5 .layer5PicBox {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

body .container-fluid .container-fluid .swiper-container .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 768px) {
  body .container-fluid .container-fluid .swiper-container .swiper-wrapper .swiper-slide {
    height: 33vh;
  }
}

body .container-fluid .container-fluid .box_bot {
  height: 30px;
}

body .container-fluid .footer {
  position: fixed;
  width: 100%;
  padding: 3px;
  color: azure;
  background-color: #0c0a35;
  text-align: center;
  bottom: 0%;
  z-index: 2222;
}

@-webkit-keyframes example {
  0% {
    background-image: url("./img/pic2/all.png");
  }
  33% {
    background-image: url("./img/pic2/nb.png");
  }
  66% {
    background-image: url("./img/pic2/nw.png");
  }
  100% {
    background-image: url("./img/pic2/nw.png");
  }
}

@keyframes example {
  0% {
    background-image: url("./img/pic2/all.png");
  }
  33% {
    background-image: url("./img/pic2/nb.png");
  }
  66% {
    background-image: url("./img/pic2/nw.png");
  }
  100% {
    background-image: url("./img/pic2/nw.png");
  }
}

@-webkit-keyframes light {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes light {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/*# sourceMappingURL=products.css.map */